.project{
    max-height: 50%;
    min-width: 50%;
    min-width: 70%;
    margin-left: 30px;
    margin-right: 30px;
    overflow: scroll;
}

.project-pic{
    max-height: 30%;
    max-width: 100%;
    float: top;
}

.project-text{
    /* overflow: scroll; */
    max-width: 100%;
    max-height: 50%;
}

.project-name {
    float: left;
    margin-left: 20px;
}

.project-github {
    text-align: right;
    margin-right: 20px;
}

::-webkit-scrollbar {width: 20px; height: 20px; border-radius: 4px;}
::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  box-shadow: inset 1px 1px #fff, 1px 1px #000;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  box-shadow: inset 1px 1px #fff, 1px 1px #000;
}