body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Courier New", monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-section {
  display: flex;
  justify-content: center;
  flex: 1; /* Make the section take up the remaining space of the body */
  /* background-color: #f2f2f2;  */
  padding: 20px;
  min-height: 100%;
  overflow-y: scroll;
  mask-image: linear-gradient(to bottom, transparent 0%, black 180px, black calc(100% - 180px), transparent 100%);
}

.card {
  font-family: "Courier New", monospace;  
}